[Desktop Entry]
Version=1.0
Type=Application
Name=Helwan Linux Maze
GenericName=Maze Game
Comment=Educational Maze Game by SMA Coding
Exec=/usr/bin/hel-maze
Icon=helwan-maze
Terminal=false
Categories=Game;Arcade;Education;
Keywords=maze;helwan;sma;coding;
StartupNotify=true
